<aside class="col-md-8">
  <div class="maincontent feedback">
    <h1>Recent Feedback</h1>
    <div class="feedback-items">
      <% feedbackList.forEach(function(feedback) { %>
      <div class="feedback-item item-list media-list">
        <div class="feedback-item media">
          <div class="feedback-info media-body">
            <div class="feedback-head">
              <div class="feedback-title"><%= feedback.title %></div>
              <small>by <%= feedback.name %></small>
            </div>
            <div class="feedback-message"><%= feedback.message %></div>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</aside>
